{% extends 'base.html' %}

{% block title %}
MHe-commerce | Change Password
{% endblock %}

{% block content %}
<section id="change_pass">

<div class="container-fluid" id="wrapper1">
    <div class="parent1 container h-100 d-flex justify-content-center align-items-center">
        <div class="container w-50 py-3" id='password-wrapper'>
            <h1 class='text-center text-color'>Change Password</h1>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group {% if field.errors %}invalid{% endif %} pt-3">
                <strong>{{ field.label_tag }}</strong>
                {{ field }}
                {{ field.help_text }}
                {{ field.errors }}
                </div>
                {% endfor %}
                <button type="submit" class='btn' id='password-button'>Save Changes</button>
            </form>
        </div>
    </div>    
</div>

</section>
{% endblock %}