<footer class='text-center'>

<div class="py-3" id='footer-top'>
    <a href="#" target="_blank">
    <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a href="#" target="_blank">
    <i class="fab fa-twitter mr-3"></i>
    </a>

    <a href="#" target="_blank">
    <i class="fab fa-youtube mr-3"></i>
    </a>

    <a href="#" target="_blank">
    <i class="fab fa-google-plus-g mr-3"></i>
    </a>

    <a href="https://github.com/mharre" target="_blank">
    <i class="fab fa-github mr-3"></i>
    </a>

</div>


<div class="footer-copyright py-3">
    © 2021 Copyright - This website is completely ficticious and is for development practice only
</div>

</footer>