{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'my_site/all_products.css' %}">
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}
<section id='product_list'>
<div id='wrapper'> 
    <div class="container-fluid w-75">
        <div class='row p-3'>
            <div class="container mt-3">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-3 shadow rounded" id='nav1'>

                    <span class="navbar-brand">Styles:</span>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="basicExampleNav">

                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                        <a class="nav-link" href="{% url 'all_products' style='all' %}">All
                        </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'all_products' style='Realism' %}">Realism</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'all_products' style='Portrait' %}">Portrait</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'all_products' style='Unknown' %}">Unknown</a>
                        </li>
            
                    </ul>

                    <form class="form-inline" action="/search/" method="GET">
                        <div class="md-form my-0">
                        <input class="form-control mr-sm-2" id='id_q' type="search" name='q' placeholder="Search.." aria-label="Search" required>
                        </div>
                    </form>
                    </div>
            </div>
        </div>
        <div class="card-deck">
        {% for product in all_products %}
            <div class="col-sm-4 mb-4">
                <div class="card h-100">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ product.name|title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">${{ product.price }}</h6>
                    <p class="card-text">{{ product.history }}</p>
                    <a href="{{ product.get_absolute_url }}" class="btn mt-auto" id='btn'>More Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    
    <div class="pagination justify-content-center pt-3">
      <nav aria-label='testing stuff'>
          <ul class="pagination step-links">
              {% if page_obj.has_previous %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label='Previous'>
                      <span aria-hidden='true'>&laquo;</span>
                  </a>
              </li>
              <li class="current page-item">
                  <a class='page-link'>
                  {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                  </a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="?page=1" aria-label='Next'>
                      <span aria-hidden='true'>&raquo;</span>
                  </a>
              </li>
              {% endif %}

              {% if page_obj.has_next %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label='Previous'>
                      <span aria-label='true'> &laquo; </span>
                  </a>
              </li>
              <li class="current page-item">
                  <a class='page-link'>
                  {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                  </a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label='Next'>
                      <span aria-hidden='true'> &raquo; </span>
                  </a>
              </li>
              {% endif %}
            </ul>
      </nav>
    </div>

  </div>
</div>

</section>
{% endblock %}